.mainbox{
    border: 1px solid red;
    background-color: lightblue;
    display: flex;
}
.contactlist{
    border: 1px solid greenyellow;
    background-color: rgb(30, 172, 106);
    width: 50%;
    height: 100%;
}
.directlist{
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(93, 107, 153);
    width: 100%;
    height: 200px;
}